{% extends "main_layout.html.twig" %}
{% block content %}
    <div class="col-xs-10 col-xs-offset-1 text-justified">
        <section>
            <div class="row regular-content-size">
                <div class="col-xs-12">
                    <h3 class="center bottom-plus new-header">{{ content.name }}</h3>
                </div>
            </div>
        </section>
        <section>
            <div class="row regular-content-size">
                <div class="row">
                    <div class="col-xs-12" style="text-align: center">
                        <h1 class="underscore">{{ 'SUPER PHOTO'|trans }}</h1>
                        {% if not ez_is_field_empty( content, 'photo' ) %}
                            {{ ez_render_field(content, 'photo', { 'parameters': { 'width': '100%', height: 'auto'}}) }}
                        {% endif %}
                    </div>
                    <div class="col-xs-6">
                        <h4 class="underscore">{{ 'Starting point'|trans }}</h4>
                        {{ ez_render_field(content, 'starting_point', {'parameters': { 'width': '100%', height: '200px', 'showMap': true, 'showInfo': false }}) }}
                    </div>
                    <div class="col-xs-6">
                        <h4 class="underscore">{{ 'Ending point'|trans }}</h4>
                        {{ ez_render_field(content, 'ending_point', {'parameters': { 'width': '100%', height: '200px', 'showMap': true, 'showInfo': false }}) }}
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row regular-content-size">
                <div class="col-xs-12 padding-box">
                    <div class="col-xs-2">
                        <div class="box-ride">
                            <p class="special-number">{{ ez_render_field( content, 'length') }} km</p>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <h4 class="underscore">{{ 'Description'|trans }}</h4>
                        {{ ez_render_field( content, 'description') }}
                    </div>
                </div>
            </div>
        </section>
        {% if landmarksList is not empty %}
            <div class="row regular-content-size">
                <section class="photos">
                    <div class="col-xs-12">
                        <h4 class="underscore">{{ 'Landmarks'|trans }}</h4>
                    </div>
                    {% for landmark in landmarksList %}
                        {{ render( controller( "ez_content:viewAction", { 'content': landmark, 'viewType': 'line'} )) }}
                    {% endfor %}
                </section>
            </div>
        {% endif %}
    </div>
{% endblock %}